body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('../img/backround.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

header {
    padding: 20px;
    background-color: grey;
}

#main {
    background-color: grey;
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
}

.input-section {
    margin-bottom: 15px;
}

input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 70px;
    text-align: center;
}

button {
    padding: 8px 15px;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}



/* Feedback messages */
#feedback {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.info-box {
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    color: black;
}




